@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    border: var(--branco-principal) solid 2px;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--branco-principal);
}
.container__botao.botao_secundario {
    background-color: transparent;
    border: var(--branco-principal) solid 2px;
}

.container__botao.botao_secundario:hover{
    color: var(--botao-azul);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario{
    align-items: center;
    margin: 0 1em;
}

.secundario__imagem{
    width: 80%;
}

.container__descricao {
    padding: 2em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos{
    text-align: center;
    margin: 5em 0;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);

}

.rodape{
    text-align: center;
}

.rodape__imagem{
    margin-bottom: 1em;
}

.rodape__lista{
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    margin: 2em 2em;
}

.lista__link{
    color: var(--branco-principal);
    text-decoration: none;
}

.lista__link:hover{
    color:var(--botao-azul);
}

.lista__link:active{
    color: var(--botao-azul-efeito);
}

.rodape__texto{
    font-size: 14px;
    color: var(--cinza-secundario);
    margin-bottom: 1em;
}

@media screen and (max-width: 768px){
    .container {
        display: block;
        background-image: none;
        height: 60vh;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
       
    }

    .secundario__imagem {
        width: 50vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }

    .inverter {
        display: flex;
        justify-content: center;
        gap: 16px;
        flex-direction: column-reverse;
    }
}